{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Liste des factures</h1>
        <p>Cette page affichera bientôt la liste des factures. (À remplir avec les données dynamiques.)</p>
    </div>
{% endblock %}
